<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.0-rc.1/angular-resource.min.js"></script>
        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://rawgit.com/angular-ui/angular-google-maps/2.3.0/dist/angular-google-maps.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="services.js"></script>
        <script src="app.js"></script>
        
        <title>AddressBook: Xavier Niel</title>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand">AddressBook</a>
            </div>
        </nav>
    </head>
    
    <body ng-app="AddressBook" ng-controller="LiCtrl">
        <div class="row">
            <div class="col-xs-3">
                <div class="list-group">
                    <a href="#"
                       ng-repeat="elem in addresses | orderBy:'-name'"
                       class="list-group-item"
                       ng-class="{'active': elem==current}" 
                       ng-click="setCurrent(elem)">
                        {{elem.lastname}} {{elem.firstname}}
                    </a>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="panel panel-default floating">
                    <div class="panel-heading">Name</div>
                    <div class="panel-body">{{current.firstname + ' ' + current.lastname}}</div>
                </div>
                <div class="panel panel-default floating">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body">Panel Content</div>
                </div>
                <div class="panel panel-default floating">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body">Panel Content</div>
                </div>
            </div>
        </div>
    </body>
</html>